<a href="https://colab.research.google.com/github/ritikkumar01111999/wipro_nlth_internship_questions/blob/main/list_wipro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [41]:
#write a program to create a list of 5 intergers and display the list items. Access individual elements through index

list1=[1,2,3,4,5]
for i in list1:
  print(i,end=" ")

#access the list individually
print('\n access the list individually')
print(list1[0])
print(list1[1])
print(list1[2])
print(list1[3])
print(list1[4])

1 2 3 4 5
 access the list individually
1
2
3
4
5

In [42]:
#write aprogram to append a new item to the end of the list 

list2=[1,2,3,4,5]

list2.append(6)

print('after apppending 6 in list2 we will get',list2)

after apppending 6 in list2 we will get [1, 2, 3, 4, 5, 6]

In [43]:
#write a program to reverse the order of the items in the list

fruits = ['apple', 'banana', 'cherry']

fruits.reverse()

print(fruits)

['cherry', 'banana', 'apple']

In [44]:
#write a program to print the number ooccurence of a specofied element in the list 

list4=[1,2,3,4,5,6,7,8,9,1,2,3,4,5,6,7,8,9,1,2,3,4,5,6,7,8,9]
def check(a):
  matched=0
  for i in list4:
    if i==a:
      matched=matched+1
  print(a," occured ",matched," times in list3")

a=int(input('enter the number you want to check:'))
check(a)

enter the number you want to check:2
2  occured  3  times in list3

In [45]:
#write a program to append items from list1 to list 2  in the front 


list5=[1,2,3,4,5]
list6=[6,7,8,9]
print("after appending in the front th list will look like something like this ",list6+list5)

after appending in the front th list will look like something like this  [6, 7, 8, 9, 1, 2, 3, 4, 5]

In [52]:
#write a program to insert a new item before the second element in the existing list 

list7=[1,2,3,4,5,6]
list7.insert(1, 7)
list7

[1, 7, 2, 3, 4, 5, 6]

In [53]:
#write a program to remove the element from a specified index
list8=[1,2,3,4,5,6]

a=int(input('enter the specified index'))
list8.remove(list8[a])
list8

enter the specified index2

In [55]:
#write a progam to remove the first occurence of a specified element form the list 
# Declaring a list
list = [10, 20, 30, 40, 30]

# print list 
print("List element:")
for l in range(len(list)):
	print (list[l])

# removing 30 from the list 
list.remove(30);

# print list after removing 30
print("List element after removing 30:")
for l in range(len(list)):
	print (list[l])

List element:
10
20
30
40
30
List element after removing 30:
10
20
40
30