<a href="https://colab.research.google.com/github/ritikkumar01111999/wipro_nlth_internship_questions/blob/main/print_numbers_from_1_to_10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
#write a program to print numbers from 1 to 10 in a single row with one tab space 

for i in range(1,11):
  print(i,end=" ")

0 1 2 3 4 5 6 7 8 9 10