<a href="https://colab.research.google.com/github/ritikkumar01111999/wipro_nlth_internship_questions/blob/main/set_wipro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
#write a program to remove a given item from the set
#Create a new set
num_set = set([0, 1, 2, 3, 4, 5])
a=int(input('enter the element want to remove:-'))
if a in num_set:
  num_set.discard(a)
print("after removing element:-",num_set)

enter the element want to remove:-0
after removing element:- {1, 2, 3, 4, 5}

In [4]:
#write a program to create intersection of sets.
A = {2, 3, 5}
B = {1, 3, 5}

# compute intersection between A and B
print(A.intersection(B))

{3, 5}

In [6]:
#write a program to create an union of the set
set1 = set([1, 1, 2, 3, 4, 5])
set2 = set([1, 5, 6, 7, 8, 9])
print("\nOriginal sets:")
print(set1)
print(set2)
print("\nUnion of above sets:")
setn = set1.union(set2)
print(setn)

Original sets:
{1, 2, 3, 4, 5}
{1, 5, 6, 7, 8, 9}

Union of above sets:
{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [7]:
#write a program to find maximum and the minimum of the set
#Create a set
setn = {5, 10, 3, 15, 2, 20}
print("Original set elements:")
print(setn)
print(type(setn))
print("\nMaximum value of the said set:")
print(max(setn))
print("\nMinimum value of the said set:")
print(min(setn))

Original set elements:
{2, 3, 5, 10, 15, 20}
<class 'set'>

Maximum value of the said set:
20

Minimum value of the said set:
2